    {% if result_img %}
        <hr>
        <div class="result-container">
            <!-- Блок ОРИГИНАЛА -->
            <div class="chart">
                <h2>Оригинал</h2>
                <img src="{{ orig_img }}?{{ range(1, 9999) | random }}" alt="Оригинал">
                <h3>Гистограмма ДО</h3>
                <img src="data:image/png;base64,{{ orig_hist }}" alt="График до">
            </div>

            <!-- Блок РЕЗУЛЬТАТА -->
            <div class="chart">
                <h2>Результат (Яркость: {{ brightness }})</h2>
                <img src="{{ result_img }}?{{ range(1, 9999) | random }}" alt="Результат">
                <h3>Гистограмма ПОСЛЕ</h3>
                <img src="data:image/png;base64,{{ res_hist }}" alt="График после">
            </div>
        </div>
    {% endif %}
